# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/*/run-[0-9]*.json
/broadcast/**/dry-run/

# Ignores development address logs
!/script/output
/script/output/*/output-[0-9]*.json
/script/output/*/dry-run/*.json

# Docs
docs/

# Dotenv file
.env
